{% extends "base.html" %}
{% load socialaccount %}


{% block content %}
    <div class="container text-center mt-5">
        <h1>Welcome to DjangoGramm! 🎉</h1>
        <p>Ваш новый DjangoGramm готов к работе.</p>

    </div>
    <div class="d-flex justify-content-center mt-4">
    <a href="{% url 'users:login' %}" class="btn btn-primary btn-lg me-3">🔑 Войти</a>
    <a href="{% url 'users:register' %}" class="btn btn-success btn-lg">📝 Зарегистрироваться</a>

        <!-- Кнопки входа через соцсети -->
    <div class="mt-3">
        <p>Или войдите с помощью:</p>
        <a href="{% provider_login_url 'github' %}">🐙 Войти через GitHub</a>
        <a href="{% provider_login_url 'google' %}">🔵 Войти через Google</a>
    </div>
    </div>

    <div class="position-absolute bottom-0 end-0 p-3 mb-5">
    <p class="fw-bold text-danger fs-2">Made by Ivan Revchuk 👹</p>
    </div>


{% endblock %}